body {
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
#text {
  margin-bottom: 100px;
} 
#searchbar{
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.section {
  
 
  padding: 10px;
  width: 50%;
  border-radius: 50px;
  
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
#hidden{
  display: none;

}
#visible{
  display: flex;
  

} 
.results>section{
  display: flex;
  width: 5%;
}
  
h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
  }
  